.container{
    display: grid;
    place-items: center;
    height: 50vh;
}

.mainContainer{
    display: grid;
    place-items: center;
    grid-template-rows: 60px, 30px, 10px;
    background-color: gray;
    border-color: black;
}

/*
#welcome{
    grid-template-columns: ;
    grid-template-rows: ;
}

#start{
    grid-template-columns: ;
    grid-template-rows: ;
}

#help{
    grid-template-columns: ;
    grid-template-rows: ;
}

#name{
    grid-template-columns: ;
    grid-template-rows: ;
} */

