/* .container{
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
}

#welcome{
    grid-template-columns: ;
    grid-template-rows: ;
}

#start{
    grid-template-columns: ;
    grid-template-rows: ;
}

#help{
    grid-template-columns: ;
    grid-template-rows: ;
}

#name{
    grid-template-columns: ;
    grid-template-rows: ;
} */

