.container{
    display: grid;
    place-items: center;
    height: 50vh;
}

/*
#welcome{
    grid-template-columns: ;
    grid-template-rows: ;
}

#start{
    grid-template-columns: ;
    grid-template-rows: ;
}

#help{
    grid-template-columns: ;
    grid-template-rows: ;
}

#name{
    grid-template-columns: ;
    grid-template-rows: ;
} */

